* {
    font-family: "Inter";
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
  }
a {
    text-decoration: none;
    color: inherit;
}
li, ol {
    list-style-type: none;
}
body, html, h1 {
    margin: 0;
    padding: 0;
}
#navbar {
    transition: 0.5s;
}
.font-elite {
    font-family: 'Special Elite' !important;
}
.text-center {
    text-align: center;
}
.font-weight-200 {
    font-weight: 200;
}
.font-weight-700 {
    font-weight: 700;
}
.font-weight-900 {
    font-weight: 900;
}
.font-weight-regular {
    font-weight: normal;
}
.w-full{
    width: 100%;
}
.flex-col-half{
    flex: 0 0 50%;
    width: 100%;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.align-items-top {
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}
.align-items-bottom {
    align-items:flex-end;
}
.container{
    height: 100vh;
}
.bg-with-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/img/benteng.jpeg");
}
.bg-black {
    background-color: black;
}
.text-white {
    color: white
}
.relative {
    position: relative;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.overlay-black::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}
.z-100 {
    z-index: 100;
}
.z-200 {
    z-index: 200;
}
.padding-8px{
    padding: 8px;
}
.padding-24px{
    padding: 24px;
}
.haeder-text {
    font-size: 3rem;
    font-weight: 400;
}

.bg-krem {
    background-color: #D3B598;
}
.navbar {
    background-color: #FFE194;
}
.size-24px{
    font-size: 24px;
}
.size-16px{
    font-size: 16px !important;
}
.size-18px{
    font-size: 18px !important;
}
.size-20px{
    font-size: 20px !important;
}
.size-regular{
    font-size: 1.2rem !important;
}
.text-primary{
    color: #4C4C6D;
}
.button {
    padding: 4px 24px;
    outline: none;
    border: 0;
    background: transparent;
}
.cursor-pointer {
    cursor: pointer;
}
.button-primary {
    background-color: #4C4C6D;
    color: white
}
.button-outline-white{
    border: 2px solid white;
    transition: all;
}
.button-outline-white:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}
.button-outline-black{
    border: 2px solid black;
    transition: all;
}
.button-outline-black:hover{
    border: 2px solid black;
    background-color: black;
    color: white;
}
.bg-video {
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background: no-repeat center;

    user-select: none;
    pointer-events: none;
  
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
  }
.h1-size {
    font-size: 72px !important;
}
.z-50 {
    z-index: 50;
}
.overflow-hidden {
    overflow: hidden;
}
.pb-8px {
    padding-bottom: 8px;
}
.pb-16px {
    padding-bottom: 16px;
}
.mt-6em {
    margin-top: 6em;
}
.mt-4em {
    margin-top: 4em;
}
.mr-05em{
    margin-right: 0.5em;
}
.mt-05em{
    margin-top: 0.5em;
}
.mb-2em {
    margin-bottom: 2em;
}
.p-16px {
    padding: 16px;
}
.py-16px {
    padding-top: 16px;
    padding-bottom: 16px;
}
.text-size-2em {
    font-size: 2em;
}
.text-size-1em {
    font-size: 1em;
}
.text-size-xl {
    font-size: 42px;
}
.w-half {
    width: 50%;
}
.w-60percent {
    width: 60%;
}
.very-big-letter {
    font-size: 8em;
}
.text-corner-top-right {
    font-size: 10rem;
    position: absolute;
    right: 5rem;
    top: 2rem;
    opacity: 0.2;
    line-height: 0.8em;
    letter-spacing: -10px;
    color: #49392b;
    user-select: none;
    pointer-events: none;
    font-family: "Montserrat";
}
.text-corner-bottom-right {
    font-size: 15em;
    position: absolute;
    right: 10px;
    bottom: 8px;
    opacity: 0.2;
    line-height: 0.8em;
    letter-spacing: -20px;
    color: #4C4C6D;
    user-select: none;
    pointer-events: none;
    font-family: "Montserrat";
}
.corner-left-bottom {
    bottom: 0;
    left: 0;
}
.pr-8px {
    margin-right: 24px;
}
.h-full {
    height: 100%;
}
.flex-dir-column {
    flex-direction: column;
}
.slider {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.btn {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 100;
    padding: 8px;
    background: transparent;
    outline: transparent;
    border: 0;
    color: white
}
.btn.next {
    right: 0;
}
.btn.prev {
    left: 0;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.text-krem {
    color: #D3B598
}
.pentol::before {
    content: "";
    background: #D3B598;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}
.sticky {
    position: sticky;
}
.garis {
    width: 3px; text-align: center; background-color: #D3B598;
}
.hr {
    width: 50%;
}
@media only screen and (max-width: 1600px) {
    .text-corner-bottom-right {
        font-size: 14em;
        position: absolute;
        right: 10px;
        bottom: 8px;
        opacity: 0.2;
        line-height: 0.8em;
        letter-spacing: -19px;
        color: #4C4C6D;
        user-select: none;
        pointer-events: none;
        font-family: "Montserrat";
    }
}

@media only screen and (min-width: 300px ) and (max-width: 450px) {
    .when-mobile-display-none {
        display: none;
    }
    .when-mobile-display-block {
        display: block;
    }
    .when-mobile-display-flex {
        display: flex;
    }
}

.text-m {
    font-family: "Montserrat";

}
.xtra-bold {
    font-weight: 900;
}
.regular {
    font-weight: 400;
}
.light {
    font-weight: 200;
}
.bottom-right {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.tab {
    font-weight: 400;
    padding: 12px;
}

.tab.active {
    background-color: #49392b;
    color: white
}
.tab {
    cursor: pointer;
}
.tab:hover {
    background-color: #49392b;
    color: white
}

.konten {
    padding: 0 24px;
}

.mx-tengah {
    padding: 0 10em;
}


.px-tengah {
    padding: 0 10em;
}

.p-tengah {
    padding: 10em;
}

.radius-10 {
    border-radius: 2em;
}
.margin-12px {
    margin: 12px;
}

.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.side-header-text {
    font-size: 3rem;

}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.tokoh img {
    transition: filter 1s;
    filter: drop-shadow(5px 5px #D3B598);
}
.tokoh img:hover {
    filter: drop-shadow(20px 5px #D3B598) ;
}
@media only screen and (min-width: 1280px ) and (max-width: 1600px) {
    .haeder-text {
        font-size: 2rem;
        font-weight: 400;
    }
    .side-header-text {
        font-size: 2rem;
    }
    .size-24px {
        font-size: 16px;
    }
    .size-regular {
        font-size: 1rem !important;
    }
    .p-tengah {
        padding: 5em;
    }
}
.container2 {
    width: 800px;
    background-color:white;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0,0,0,.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tab_box {
    width: 100%;
    display : flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
    position: relative;
}
.tab_box .tab_btn {
    font-size: 18px;
    font-weight: 600;
    color: black;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}
.tab_box .tab_btn.active {
    color:burlywood;
}
.content_box {
    padding: 20px;
}
.content_box .content {
    display: none;
    animation: moving .5s ease;
}
@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform:translatex(0px);opacity: 1;}
}
.content_box .content.active {
    display:block;
}
.content_box .content h2 {
    margin-bottom: 10px;
}
.line {
    position: absolute;
    top: 55px;
    left: 0;
    width: 90px;
    height: 5px;
    background-color: #49392b;
    transition: all .3s ease-in-out;
}